.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(120, 208, 219);
    text-align: center;
    line-height: 100px;
}

/* ==== CODE ALONG ==== */



/* ==== CODE SOLO ==== */
#box1 {
    background-color: deepskyblue;
    transform: scale(1,1);
}
#box2 {
    background-color: turquoise;
    transform: translate(90px);
}

#box3 {
    background-color: blueviolet;
    transform: rotate(18deg);
}
#box4 {
    background-color: darkmagenta;
    transform: skewY(20deg);
}

/* Apply FOUR CSS transforms in total to make the boxes visually distinct and interesting. You can use scale, translate, rotate, and skew or even combine them. */


/* BONUS: Try combining the :hover selector with the transform property. Try to make the boxes spin when you hover over them. Use the transition: 0.3s ease; property and value to make it smoother. */
